<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

    <!--footerFragment-->
    <div th:fragment="footerFragment">
        <div class="container" style="margin-left: 0; margin-right: 0; width: 100%;">

            <!-- FOOTER -->
            <div class="row no-gutters">
                <div class="footer clearfix">

                    <div class="col-lg-3 col-md-3 col-lg-offset-2 col-md-offset-2">
                        <div class="footer-col">
                            <h6 class="green-text">Address</h6>
                            <p class="white-text">
                                경기도 부천시 오정구 원종동
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <div class="footer-col">
                            <h6 class="purple-text">E-Mail</h6>
                            <p class="white-text">
                                gusehdqkd@naver.com
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <div class="footer-col">
                            <div class="social-icons">
                                <a href="https://www.facebook.com/gusehdqkd" target="_blank"><span class="icon icon-sb-facebook"></span></a>
                                <a href="https://www.instagram.com/gusehdkd" target="_blank" ><span class="icon icon-sb-instagram"></span></a>
                                <a href="https://github.com/Gunggo" target="_blank"><span class="icon icon-github-alt"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>