<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--configFragment-->
<th:block th:fragment="loginConfigFragment">
    <head>

        <title>IamBD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" th:href="@{images/login/favicon.ico}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{css/vendor/bootstrap/css/bootstrap.min.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{css/vendor/animate/animate.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{css/vendor/css-hamburgers/hamburgers.min.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{css/vendor/animsition/css/animsition.min.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{css/vendor/select2/select2.min.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{css/vendor/daterangepicker/daterangepicker.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{css/loginUtil.css}">
        <link rel="stylesheet" type="text/css" th:href="@{css/loginMain.css}">
        <!--===============================================================================================-->

    </head>
</th:block>
</html>