<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.introduction.member.dao.MemberDao">

    <select id="selectMemberList" resultType="memberBean">
        select
            mb_no AS mbNo,
            mb_email AS mbEmail,
            mb_pw AS mbPw,
            mb_nm AS mbNm,
            reg_dt AS regDt,
            upd_dt AS updDt
        from member;
    </select>

</mapper>
