<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div class="container">
		<div class="single-project">

			<!-- START EDITING FROM HERE -->
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="project-image"><img th:src="@{/images/projects/board.png}" alt=""></div>
					</div>
					<div class="col-lg-6 col-md-6 text-left">
						<h5>Simple Board</h5>
						<p>
							학원에서 진행한 2차 개인프로젝트이며 순수 JSP로 게시판, 로그인을 구현한 게시판입니다.
							console을 벗어나 html,css,javascript 3형제를 처음으로 만난 프로젝트이며
							게시판 페이징, 카카오 로그인 API, 댓글 구현을 하며 REST API, AJAX에 대한 이해도를 높일 수 있었고
							내가 짠 로직이 구동되는걸 화면으로 직접 보며 코딩과 삽질에 빠지게 된 프로젝트였습니다.
						</p>
						<ul class="project-details-list">
						<li><span class="dark-text">Date: </span> <span class="extra-small-text">2019-10</span></li>
						<li><span class="dark-text">Skils: </span> <span class="extra-small-text">Java, HTML, CSS, JavaScript, AJAX, Orcale DB, KaKao API</span></li>
					</ul>
					</div>
				</div>

		</div>

	</div>

</body>

</html>
