<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div class="container">
		<div class="single-project">

			<!-- START EDITING FROM HERE -->
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="project-image"><img th:src="@{/images/projects/mailab.png}" alt=""></div>
					</div>
					<div class="col-lg-6 col-md-6 text-left">
						<h5>Design Mall</h5>
						<p>
							수료 후 수습으로 있던 회사에서 진행한 프로젝트입니다.
							혼자 마음대로 하는 개발이 아닌 클라이언트의 요구사항에 따른
							업무적인 분석을 필요로 하며 실무에 대한 감각을 익힐 수 있었던 프로젝트입니다.
							PG연동, 디자인 일부 요소를 제외한 모든 CSS, API, 로직을 담당하였습니다.
							새로운 프로젝트들이 모두 기존의 프로젝트의 틀에서 시작하였기에 구조, 네이밍룰이 절대적인 상황이며
							2달간 진행한 학원 최종 프로젝트가 안드로이드였기에 Spring Framework의 사용법 조차 제대로 몰라
							완성까지 주5일 야근과 모든 주말을 반납하였습니다
							되는대로 코딩하는 스타일에서 노트에 그림을 그려놓고 보면서 진행하는 스타일로 변화되어
							단편적인 기능보다는 좀 더 넓은 시야에서 볼 수 있게됬으며
							잦은 실수와 주요 설정들을 기억이 아닌 기록을 시작하며 개발자로서의 시작을 알린 프로젝트.

						</p>
						<ul class="project-details-list">
						<li><span class="dark-text">Date: </span> <span class="extra-small-text">2020-02</span></li>
						<li><span class="dark-text">Skils: </span> <span class="extra-small-text">Java,HTML,CSS,JavaScript,Jquery,Spring</span></li>
						<li><span class="dark-text">URL: </span><a href="http://www.mailab.kr/index.do" target="_blank"><span class="extra-small-text">http://www.mailab.kr/index.do</span></a></li>
					</ul>
					</div>
				</div>

		</div>

	</div>

</body>

</html>
