<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div class="container">
		<div class="single-project">

			<!-- START EDITING FROM HERE -->
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="project-image"><img th:src="@{/images/projects/socketChat.png}" alt=""></div>
					</div>
					<div class="col-lg-6 col-md-6 text-left">
						<h5>Console Socket Chat</h5>
						<p>
							학원에서 처음으로 진행한 개인 프로젝트입니다.
							Web Socket을 이용한 클라이언트간 채팅이며
							객체에 대한 이해도가 떨어진 상태에서 시작된 프로젝트였습니다.
							각 유저의 상태를 나타내고자 Room 클래스, User클래스를 구분하여
							유저간의 채팅, 귓속말을 구현하며 객체에 대한 이해도를 높일 수 있던 프로젝트였습니다.
						</p>
						<ul class="project-details-list">
						<li><span class="dark-text">Date: </span> <span class="extra-small-text">2019-08</span></li>
						<li><span class="dark-text">Skils: </span> <span class="extra-small-text">Java, Socket.io</span></li>
					</ul>
					</div>
				</div>

		</div>

	</div>

</body>

</html>
